
/* html{
  scrollbar-width:normal;
  scrollbar-color: #40A2D8 white;
} */
html::-webkit-scrollbar-thumb{
  /* background-color:linear-gradient(to bottom, #0b60b0 0%, #40a2d8 100%); */
  background-color: #40a2d8;
  /* @apply bg-gradient-to-b from-[#0B60B0] from-1000% to-[#40A2D8] */
}

html::-webkit-scrollbar-track{
  background-color: white;
}

html::-webkit-scrollbar{
  width:14px;
}
