@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply transition-all duration-300 ;
}
